<div class="container" ng-controller="LoginController">
  <h1>Log in</h1>
  <form ng-submit="submit()">
    Username<input ng-disabled="!canInput" class="form-control" type="text" name="name" ng-model="username" placeholder="JustF">
    Password<input ng-disabled="!canInput" class="form-control" type="password" name="name" ng-model="password" placeholder="baconstrips123">
    <hr>
    <p>
      No account yet? <a href="#/register">Register here.</a>
    </p>
    <input ng-disabled="!canInput" type="submit" name="name" value="Log in" class="btn btn-default">
  </form>
</div>
