<div class="modal-header">
    <h3 class="modal-title">Loot</h3>
</div>
<div class="modal-body">
  <ul class="items">
    <li>
      <div class="">
        <div class="col-xs-3">Shortsword</div>
        <div class="col-xs-5 description">1d4 damage</div>
        <div class="col-xs-2">12gp</div>
        <div class="col-xs-2">16 kg</div>
      </div>
      <div class="hover">
        <div class="col-xs-4 extra">Need</div>
        <div class="col-xs-4 extra">Greed</div>
        <div class="col-xs-4 extra">Pass</div>
      </div>
    </li>
    <li>
      <div class="">
        <div class="col-xs-3">Shortsword</div>
        <div class="col-xs-5 description">1d4 damage</div>
        <div class="col-xs-2">12gp</div>
        <div class="col-xs-2">16 kg</div>
      </div>
      <div class="hover">
        <div class="col-xs-4 extra">Need</div>
        <div class="col-xs-4 extra">Greed</div>
        <div class="col-xs-4 extra">Pass</div>
      </div>
    </li>
    <li>
      <div class="">
        <div class="col-xs-3">Shortsword</div>
        <div class="col-xs-5 description">1d4 damage</div>
        <div class="col-xs-2">12gp</div>
        <div class="col-xs-2">16 kg</div>
      </div>
      <div class="hover">
        <div class="col-xs-4 extra">Need</div>
        <div class="col-xs-4 extra">Greed</div>
        <div class="col-xs-4 extra">Pass</div>
      </div>
    </li>
  </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
